<div class="fixed-action-btn">
    <a href="/stories/add" class="btn-grad btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>
<style>

	.btn-grad {background-image: linear-gradient(to right, #642DFF 0%, #C549FF  51%, #C549FF 100%)}
         .btn-grad {

            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
          }
</style>