<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.7.3/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Login - Minutes</title>
</head>
    <style>
        p {
  margin: 10px 0 !important;
}

.login-container {
  width: 350px;
  text-align: center;
	font-family: DM Sans;
	border-radius: 20px;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

    </style>
<body class="flex h-screen bg-indigo-200">
    <div class="w-full max-w-xs m-auto bg-indigo-100 rounded p-5">
        <div class="">
            <div class="">
                {{{body}}}
            </div>
                    <a class="text-grey-700 hover:text-blue-700 text-sm float-left" href="#">trueblueidea.com</a>
        <a class="text-grey-500 hover:text-blue-700 text-sm float-right" href="#">blog</a>
        </div>
    </div>








		

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
<style>
	.date{
		font-size: 10px;
		color: grey;
	}
	.chip{
		background-color: white;
	}
	p,h1, h2, h3, h4, h5{
		font-family: DM Sans;

	}
	.card-image{
		box-shadow: 0;
	}
	.bhr{
  border: 0.6px solid linear-gradient(90deg, rgba(177,98,255,1) 0%, rgba(255,155,99,1) 100%);;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.button {

		background: rgb(177,98,255);
background: linear-gradient(90deg, rgba(177,98,255,1) 0%, rgba(219,143,173,1) 100%);

		border: none;
		color: white;
		padding: 6px 12px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12px;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.button2 {
background: rgb(177,98,255);
background: linear-gradient(90deg, rgba(177,98,255,1) 0%, rgba(219,143,173,1) 100%);
		color: white;

		font-family: DM Sans;
		font-weight: light;
		border-radius: 3px;

	}

	.button2:hover {
		background: rgb(219,143,173);
background: linear-gradient(90deg, rgba(219,143,173,1) 0%, rgba(177,98,255,1) 100%);
		color: black;

	}


</style>
</html>