<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
<style>
	h3, p, a, button{
		font-family: DM Sans;
	}

      .bg-blue-750{
    background-color: #AD90FF;
  }
.btn-grad {background-image: linear-gradient(to right, #642DFF 0%, #C549FF  51%, #C549FF 100%)}
         .btn-grad {

            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

     
</style>

<header>
        
<svg class=" mx-auto mb-5 center" width="133" height="25" viewBox="0 0 266 49" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.416 48V14.4H9.888V20.096H10.272C10.8693 18.304 11.8933 16.7893 13.344 15.552C14.7947 14.272 16.7787 13.632 19.296 13.632C21.6 13.632 23.5627 14.208 25.184 15.36C26.8053 16.512 27.9787 18.1973 28.704 20.416H28.896C29.1947 19.4773 29.6427 18.6027 30.24 17.792C30.88 16.9387 31.648 16.2133 32.544 15.616C33.44 15.0187 34.4427 14.5493 35.552 14.208C36.6613 13.824 37.856 13.632 39.136 13.632C42.3787 13.632 44.8533 14.784 46.56 17.088C48.3093 19.392 49.184 22.6773 49.184 26.944V48H39.712V27.712C39.712 23.4453 38.176 21.312 35.104 21.312C33.696 21.312 32.416 21.7173 31.264 22.528C30.112 23.3387 29.536 24.576 29.536 26.24V48H20.064V27.712C20.064 23.4453 18.528 21.312 15.456 21.312C14.7733 21.312 14.0907 21.4187 13.408 21.632C12.768 21.8027 12.1707 22.1013 11.616 22.528C11.104 22.9547 10.6773 23.488 10.336 24.128C10.0373 24.7253 9.888 25.4293 9.888 26.24V48H0.416ZM66.8195 10.816C64.8995 10.816 63.4915 10.3893 62.5955 9.536C61.7422 8.64 61.3155 7.50933 61.3155 6.144V4.736C61.3155 3.37067 61.7422 2.26133 62.5955 1.408C63.4915 0.511998 64.8995 0.0639992 66.8195 0.0639992C68.7395 0.0639992 70.1262 0.511998 70.9795 1.408C71.8755 2.26133 72.3235 3.37067 72.3235 4.736V6.144C72.3235 7.50933 71.8755 8.64 70.9795 9.536C70.1262 10.3893 68.7395 10.816 66.8195 10.816ZM62.0835 14.4H71.5555V48H62.0835V14.4ZM84.876 48V14.4H94.348V20.096H94.732C95.3293 18.3467 96.3747 16.832 97.868 15.552C99.3613 14.272 101.431 13.632 104.076 13.632C107.532 13.632 110.135 14.784 111.884 17.088C113.676 19.392 114.572 22.6773 114.572 26.944V48H105.1V27.712C105.1 25.536 104.759 23.936 104.076 22.912C103.393 21.8453 102.177 21.312 100.428 21.312C99.66 21.312 98.9133 21.4187 98.188 21.632C97.4627 21.8027 96.8013 22.1013 96.204 22.528C95.6493 22.9547 95.2013 23.488 94.86 24.128C94.5187 24.7253 94.348 25.4293 94.348 26.24V48H84.876ZM147.321 42.368H147.001C146.702 43.2213 146.297 44.032 145.785 44.8C145.316 45.568 144.697 46.2507 143.929 46.848C143.161 47.4453 142.244 47.9147 141.177 48.256C140.153 48.5973 138.958 48.768 137.593 48.768C134.137 48.768 131.513 47.6373 129.721 45.376C127.972 43.072 127.097 39.7867 127.097 35.52V14.4H136.569V34.688C136.569 36.736 136.932 38.3147 137.657 39.424C138.382 40.5333 139.62 41.088 141.369 41.088C142.094 41.088 142.82 40.9813 143.545 40.768C144.27 40.5547 144.91 40.256 145.465 39.872C146.02 39.4453 146.468 38.9333 146.809 38.336C147.15 37.7387 147.321 37.0347 147.321 36.224V14.4H156.793V48H147.321V42.368ZM181.862 48C178.577 48 176.081 47.168 174.374 45.504C172.71 43.84 171.878 41.408 171.878 38.208V21.76H167.142V14.4H169.51C170.79 14.4 171.665 14.1013 172.134 13.504C172.603 12.864 172.838 11.968 172.838 10.816V5.312H181.35V14.4H188.006V21.76H181.35V40.64H187.494V48H181.862ZM212.832 48.768C210.272 48.768 207.989 48.3627 205.984 47.552C203.979 46.6987 202.272 45.5253 200.864 44.032C199.499 42.496 198.453 40.64 197.728 38.464C197.045 36.288 196.704 33.856 196.704 31.168C196.704 28.5227 197.045 26.1333 197.728 24C198.411 21.824 199.413 19.968 200.736 18.432C202.101 16.896 203.765 15.7227 205.728 14.912C207.691 14.0587 209.931 13.632 212.448 13.632C215.221 13.632 217.589 14.1013 219.552 15.04C221.557 15.9787 223.179 17.2373 224.416 18.816C225.696 20.3947 226.613 22.2293 227.168 24.32C227.765 26.368 228.064 28.5227 228.064 30.784V33.6H206.496V34.112C206.496 36.3307 207.093 38.1013 208.288 39.424C209.483 40.704 211.36 41.344 213.92 41.344C215.883 41.344 217.483 40.96 218.72 40.192C219.957 39.3813 221.109 38.4213 222.176 37.312L226.912 43.2C225.419 44.9493 223.456 46.3147 221.024 47.296C218.635 48.2773 215.904 48.768 212.832 48.768ZM212.64 20.608C210.72 20.608 209.205 21.248 208.096 22.528C207.029 23.7653 206.496 25.4293 206.496 27.52V28.032H218.272V27.456C218.272 25.408 217.803 23.7653 216.864 22.528C215.968 21.248 214.56 20.608 212.64 20.608ZM250.626 48.768C247.383 48.768 244.652 48.256 242.434 47.232C240.215 46.1653 238.231 44.672 236.482 42.752L242.05 37.12C243.244 38.4427 244.567 39.488 246.018 40.256C247.468 41.024 249.111 41.408 250.946 41.408C252.823 41.408 254.124 41.1307 254.85 40.576C255.575 39.9787 255.938 39.1893 255.938 38.208C255.938 36.6293 254.807 35.6907 252.546 35.392L248.898 34.944C241.346 34.0053 237.57 30.5493 237.57 24.576C237.57 22.9547 237.868 21.4827 238.466 20.16C239.106 18.7947 239.98 17.6427 241.09 16.704C242.242 15.7227 243.607 14.976 245.186 14.464C246.807 13.9093 248.62 13.632 250.626 13.632C252.375 13.632 253.911 13.76 255.234 14.016C256.599 14.2293 257.794 14.5707 258.818 15.04C259.884 15.4667 260.844 16.0213 261.698 16.704C262.594 17.344 263.468 18.0693 264.322 18.88L258.882 24.448C257.815 23.3813 256.599 22.5493 255.234 21.952C253.911 21.312 252.546 20.992 251.138 20.992C249.516 20.992 248.364 21.248 247.682 21.76C246.999 22.272 246.658 22.9547 246.658 23.808C246.658 24.704 246.892 25.408 247.362 25.92C247.874 26.3893 248.812 26.7307 250.178 26.944L253.954 27.456C261.335 28.4373 265.026 31.808 265.026 37.568C265.026 39.1893 264.684 40.6827 264.002 42.048C263.319 43.4133 262.338 44.608 261.058 45.632C259.82 46.6133 258.306 47.3813 256.514 47.936C254.764 48.4907 252.802 48.768 250.626 48.768Z" fill="url(#paint0_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="-19.5" y1="48" x2="279.5" y2="48" gradientUnits="userSpaceOnUse">
<stop stop-color="#AD90FF"/>
<stop offset="1" stop-color="#FFA563"/>
</linearGradient>
</defs>
</svg>
</header>


<div class="section">
    <p class="lead">Share thoughts</p>
    <a href="/auth/google" class="">
        <button class="w-full btn-grad bg-blue-750 hover:bg-indigo-500 text-blue-700 py-2 px-4 mb-6 rounded" type="submit">Login with Google</button>
    </a>
</div>